##Node
node_modules
database/dbpass.js
database/maps
database/photos
newrelic.js
newrelic_agent.log
seed.txt

##Webpack
public/bundle.js

##Testing
coverage

##keyFiles
*.pem

##bashScripts
*.sh

##mysqlLogin
database/mysql.js

./server/index.js
database/index.js
*.csv